<div layout layout-wrap>
    <md-button href="{{ article.via.url }}" target="_blank" class="md-accent" style="min-width: 70px">View</md-button>
    <md-button ng-disabled="true" class="md-accent">
        {{ article.comments }} comment<span ng-show="article.comments != 1">s</span>
    </md-button>
    <md-button ng-disabled="true" class="md-accent" style="min-width: 70px">
        {{ article.reshares }} share<span ng-show="article.reshares != 1">s</span>
    </md-button>
    <div class="g-plusone" data-annotation="bubble" data-href="{{ article.via.url }}"></div>
</div>
