<div class="gdg_loading" ng-show="vm.loading"></div>
<md-whiteframe class="md-whiteframe-z1" layout="column" layout-margin ng-show="vm.photos.length">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{ vm.chapterName }} Images</h3>
        </div>
    </md-toolbar>
    <p ng-show="vm.errorMsg">{{ vm.errorMsg }}</p>
    <md-grid-list
            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile ng-repeat="photo in vm.photos" md-rowspan="1" md-colspan="1" layout>
            <a ng-href="{{ photo.link }}" target="_blank" layout-fill>
                <img ng-src="{{ photo.src }}?sz=260" alt="{{ photo.alt }}" title="{{ photo.title }}" layout-fill>
            </a>
            <md-grid-tile-footer ng-if="photo.title && photo.title.length">
                <h3 style="font-size: 12px;">
                    {{ photo.title | limitTo:35 }}{{ photo.title.length > 35 ? '...': '' }}
                </h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-whiteframe>
