<div class="gdg_loading" ng-show="vm.loading"></div>
<md-whiteframe class="md-whiteframe-1dp" layout="column"
               ng-style="{ 'margin': $mdMedia('gt-md') ? '8px' : '0 0 4px 0' }">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{ vm.chapterName }} Images</h3>
        </div>
    </md-toolbar>
    <h4 ng-show="vm.errorMsg" style="padding: 0 8px 0 8px">{{ vm.errorMsg }}</h4>
    <div>
        <md-grid-list ng-show="vm.photos.length"
                md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
                md-row-height-gt-md="1:1" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="8px">
            <md-grid-tile ng-repeat="photo in vm.photos" md-rowspan="1" md-colspan="1" layout>
                <a ng-href="{{ photo.link }}" target="_blank" layout-fill>
                    <img ng-src="{{ photo.src }}?sz=260" alt="{{ photo.alt }}" title="{{ photo.title }}" layout-fill>
                </a>
                <md-grid-tile-footer ng-if="photo.title && photo.title.length">
                    <h3 style="font-size: 12px;">
                        {{ photo.title | limitTo:35 }}{{ photo.title.length > 35 ? '...': '' }}
                    </h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</md-whiteframe>
