<div class="gdg_loading" ng-show="vm.loading"></div>
<md-whiteframe class="md-whiteframe-z1" layout="column" layout-margin ng-show="vm.photos.length">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{ vm.chapterName }} Images</h3>
        </div>
    </md-toolbar>
    <p ng-show="vm.errorMsg">{{ vm.errorMsg }}</p>
    <div layout layout-wrap>
        <md-card ng-repeat="photo in vm.photos">
            <a ng-href="{{ photo.link }}" target="_blank">
                <img ng-src="{{ photo.src }}?sz=260" alt="{{ photo.alt }}" title="{{ photo.title }}">
            </a>
            <md-card-content >
                <div ng-if="photo.title && photo.title.length" style="font-size: 12px;">
                    {{ photo.title | limitTo:35 }}{{ photo.title.length > 35 ? '...': '' }}
                </div>
                <div ng-if="!photo.title || !photo.title.length" style="font-size: 12px; opacity: 0.3">
                    No caption
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-whiteframe>
