<!doctype html>
<html ng-app="gdgBoomerang">
    <head>
        <title>Google Developer Group</title>
        <link rel="canonical" ng-href="{{ canonical }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Google Developer Groups (GDG) are technology user groups that meet to discuss the latest Technologies, Tools, SDKs, & APIs like Android, GWT, GAE, & GCP.">
        <meta name="application-name" content="GDG Boomerang">
        <meta name="fragment" content="!" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="css/gdg.css" rel="stylesheet" media="screen">
        <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    </head>
    <body ng-controller="MainControl">
        <!-- NAV -->
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" ng-click="isNavCollapsed = !isNavCollapsed">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" ng-cloak id="gdg_chapter_name" href="#!/about">{{ chapter_name }}</a>

                    <div class="nav-collapse" collapse="isNavCollapsed" ng-click="isNavCollapsed = true">
                        <ul class="nav">
                            <li ng-class="{ 'active' : activeTab=='about' }"><a href="#!/about">About</a></li>
                            <li ng-class="{ 'active' : activeTab=='news' }"><a href="#!/news">News</a></li>
                            <li ng-class="{ 'active' : activeTab=='events' }"><a href="#!/events">Events</a></li>
                            <li ng-class="{ 'active' : activeTab=='photos' }"><a href="#!/photos">Photos</a></li>
                            <li><a ng-href="{{ google_plus_link }}" rel="publisher" target="_blank">Google+</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" ng-view></div>
        </div>
    </body>
    <script src="http://code.angularjs.org/1.2.16/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.16/angular-sanitize.min.js"></script>
    <script src="http://code.angularjs.org/1.2.16/angular-route.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script src="lib/angular.ui.min.js"></script>
    <script src="js/boomerang.js"></script>
    <script src="js/config.js"></script>
</html>
