<div class="span12">
    <p>&nbsp;</p>
    <div class="gdg_loading" ng-show="loading"></div>
    <div class="row">
        <img ng-show="cover.url" class="span12" ng-src="{{cover.url}}" alt="Google+ Cover Image">
        <div class="span12 hidden-phone" id="cover" ng-show="cover.url">
            <div id="cover-content">
                <h1 class="span12">{{cover.title}}</h1>
                <p class="span12">{{cover.subtitle}}</p>
                <p class="span12">
                    <a class="btn btn-primary btn-large" ng-href="{{cover.button.url}}" target="_blank">{{cover.button.text}}</a>
                </p>
            </div>
        </div>
        <hr>
        <p class="span12" ng-bind-html="desc"></p>
        <h4>Sponsors:</h4>
        <div>
            <a href="https://developers.google.com/"><img class="sponsor" src="../images/Google-Developers.png" alt="Google Developers"></a>
            <a href="http://www.jetbrains.com/"><img class="sponsor" src="../images/sponsor1.png" alt="Sponsor Image"></a>
            <a href="http://www.oreilly.com/store/"><img class="sponsor" src="../images/sponsor2.gif" alt="Sponsor Image"></a>
        </div>
    </div>
</div>