<div class="span12">
    <p>&nbsp;</p>
    <div class="gdg_loading" ng-show="loading"></div>
    <h1 class="span12" ng-hide="loading">{{ chapter_name }} News</h1>
    <ul id="news-feed">
        <li ng-repeat="article in news">

            <img class="icon" ng-src="{{ article.icon }}" alt="Article Icon" />
            <p ng-bind-html="article.body"></p>

            <ul class="thumbnails">
                <li ng-repeat="tn in article.thumbnails">
                    <a ng-href="{{ tn.link }}">
                        <img ng-src="{{ tn.url }}" alt="Article Thumbnail" />
                    </a>
                </li>
            </ul>
            <div class="meta">
            <span class="from">

            </span>
            </div>
            <span class="label"> <a ng-href="{{ article.via.url }}" target="_blank">View</a> </span>
            <span class="label"> {{ article.comments }} comment<span ng-show="article.comments != 1">s</span> </span>
            <span class="label"> {{ article.reshares }} share<span ng-show="article.reshares != 1">s</span> </span>
            <span class="g-plusone label" data-size="medium" data-annotation="bubble" data-href="{{ article.via.url }}"></span>
        </li>
    </ul>
</div>
