<div class="span12">
    <p>&nbsp;</p>
    <div class="gdg_loading" ng-show="loading"></div>
    <h1 class="span12" ng-hide="loading">{{ chapter_name }} Images</h1>
    <p class="span12" ng-show="error_msg">{{ error_msg }}</p>
    <ul class="thumbnails">
        <li class="span3" ng-repeat="photo in photos">
            <a ng-href="{{photo.link}}" class="thumbnail" target="_blank">
                <img ng-src="{{photo.src}}?sz=260" alt="{{photo.alt}}" title="{{photo.title}}">
            </a>
        </li>
    </ul>
</div>