<section class="container top-space">
  <div class="row">
    <div class="col-12">
      <md-toolbar color="accent">
        <span>{{chapter}} Code of Conduct</span>
      </md-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <md-card>
        <md-card-content>
          <p>
            {{chapter}} is a chapter of the larger Google Developer community, as such we follow and enforce the
            <a href="https://developers.google.com/groups/guidelines/" style="text-transform: uppercase">Google Developer Community Guidelines</a>.
            We, the group organizers and/or event organizers, reserve the right to take any action that we see fit against
            any person or persons that are found to be in breach of these guidelines including; issuing a warning (verbal
            or written), asking the offending person or persons to leave the event, or expulsion from the group.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-12">
      <md-toolbar color="accent">
        <span>Don't be a Jerk</span>
      </md-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <md-card>
        <md-card-content>
          <p>
            {{chapter}} prides itself on being an open, respectful, and inclusive community. That means jerky behavior isn't allowed
            at GDG meetings. Because we know that it's not obvious to everyone, here's a reminder of things we don't allow:
            jokes or offensive comments about sex/sexuality/race/religion/nationality/body size, showing porn in public,
            touching people uninvited, or continuing to interact with someone after they've asked you to stop. Continuous
            jerky behavior may result in getting expelled from the meeting or GDG Chapter.
            <br><br> If someone is bothering you, please tell the GDG Organizers or event host and they will take care of
            it. We want to maintain {{chapter}}'s awesomeness.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-12">
      <md-toolbar color="accent">
        <span>Anti-Harassment Policy</span>
      </md-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <md-card>
        <md-card-content>
          <h5>Why do we have an official Anti-Harassment policy for {{chapter}} events?</h5>
          <ul>
            <li>
              It sets expectations for behavior at the event. Simply having an anti-harassment policy can prevent harassment.
            </li>
            <li>It encourages people to attend who have had bad experiences at other events</li>
            <li>
              It gives event staff/volunteers instructions on how to handle harassment quickly, with minimum amount of disruption for the
              event.
            </li>
          </ul>
          <p>{{chapter}} is dedicated to providing a harassment-free event experience for everyone, regardless of:</p>
          <ul>
            <li>gender</li>
            <li>sexual orientation</li>
            <li>disability</li>
            <li>gender identity</li>
            <li>age</li>
            <li>race</li>
            <li>religion</li>
            <li>nationality</li>
          </ul>

          <p>The above is not an exhaustive list -- we do not tolerate harassment of event participants in any form.</p>
          <p>Sexual language and imagery is not appropriate for any event venue, including talks. Event participants violating
            these rules may be expelled from the event, and event banned from future events at the discretion of the event
            organizers/management.
          </p>
          <p>Harassment includes (but is not limited to):</p>
          <ul>
            <li>offensive verbal comments related to gender, sexual orientation, disability, gender identity, age, race, religion
            </li>
            <li>the use or display of sexual images in public spaces</li>
            <li>deliberate intimidation</li>
            <li>stalking</li>
            <li>harassing photography or recording</li>
            <li>sustained disruption of talks or other events</li>
            <li>inappropriate physical contact</li>
            <li>unwelcome sexual attention</li>
          </ul>
          <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
          <p>Exhibiting partners and guests are also subject to the anti-harassment policy. In particular, exhibitors and speakers
            should not use sexualized images, activities, or other material, or otherwise create a sexualized environment
            in their slide decks, exhibit material, exhibit staffing, promotional items or demo material.</p>
          <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact
            an organizer or event volunteer immediately. Organizers and event volunteers may be identified by t-shirts or
            special badges/lanyards. Organizers will investigate the issue and take appropriate action. This may include
            helping participants contact venue security or local law enforcement, provide escorts, or otherwise assist these
            experiencing harassment to fell safe for the duration of the event.</p>
          <p>Though we hope that we never have to invoke this policy, we believe that having this document helps everyone think
            a little more about how their actions and words affect the whole community, as well as individuals in the community.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-12">
      <md-toolbar color="accent">
        <span>Values</span>
      </md-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <md-card>
        <md-card-content>
          <p>
            {{chapter}} is an inclusive community where developers, designers, and entrepreneurs of all skill levels, genders, religions,
            and backgrounds are welcome to learn, practice, and share Google technologies, services, and platforms. Our motto
            is "Be excellent to each other;" if you see or experience anything different please contact
            <a style="text-transform: uppercase" [routerLink]="['/', 'Organizers']">our organizers.</a>
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>