@mixin bp-min-height {
    min-height: calc(100vh - 64px);
    @media (max-width: 600px) and (orientation: portrait) {
        min-height: calc(100vh - 56px);
    }
}

@mixin bp-height {
    min-height: calc(100vh - 64px);
    height: calc(100vh - 64px);
    @media (max-width: 600px) and (orientation: portrait) {
        min-height: calc(100vh - 56px);
        height: calc(100vh - 56px);
    }
}