ngb-carousel {
	background-color: black;
	height: 100%;

	.carousel-caption {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.carousel-indicators {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.carousel-image {
	margin: 0 auto;
}