<div class="gdg_loading" ng-show="vm.loading"></div>
<div layout layout-wrap>
    <div ng-repeat="article in vm.news" flex-xs="100" flex-sm="100" flex-md="50" flex-gt-md="33" flex-gt-lg="33">
        <md-whiteframe class="md-whiteframe-1dp" layout="column"
                       ng-style="{ 'margin': $mdMedia('gt-sm') ? '4px' : '0 0 4px 0' }">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <img ng-src="{{ article.icon }}" alt="Article Icon" />
                    <h2 style="padding-left: 10px">{{ article.published }}</h2>
                </div>
            </md-toolbar>
            <md-content layout="column" class="newsContent">
                <div ng-repeat="attachment in article.object.attachments" layout="column">
                    <gplus-album ng-if="attachment.objectType === 'album'" article="article" attachment="attachment">
                    </gplus-album>
                    <gplus-photo-video ng-if="attachment.objectType === 'photo' || attachment.objectType === 'video'"
                                       article="article" attachment="attachment"></gplus-photo-video>
                    <gplus-article ng-if="attachment.objectType === 'article'" article="article" attachment="attachment">
                    </gplus-article>
                    <gplus-event ng-if="attachment.objectType === 'event'" article="article"></gplus-event>
                </div>
                <gplus-no-attachments ng-if="!article.object.attachments.length" article="article"></gplus-no-attachments>
            </md-content>
        </md-whiteframe>
    </div>
</div>
<p ng-if="vm.desc" ng-bind-html="vm.desc"></p>
