
<div id="main-header">
    <img class="cover" ng-src="{{chapter.cover.coverPhoto.url}}" alt="Google+ Cover Image" />
    <div id="chapter-info">
        <img ng-src="{{chapter.image.url}}"/><span>{{chapter.displayName}}</span>
    </div>
</div>
<hr>
<p class="span12" ng-bind-html="chapter.aboutMe"></p>
<hr>
<div class="row">
    <div ng-repeat="organizer in organizers" class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="g-person" data-width="290" data-href="//plus.google.com/u/0/{{organizer}}" data-rel="author"  data-layout="landscape"></div>
    </div>
</div>
