<gdg-navbar>
	<md-tab-group [selectedIndex]="activeTab">
		<md-tab label="About">
			<gdg-about></gdg-about>
		</md-tab>
		<md-tab label="News">
			<gdg-news></gdg-news>
		</md-tab>
		<md-tab label="Events">
			<gdg-events></gdg-events>
		</md-tab>
		<md-tab label="What We Do">
			<gdg-what-we-do></gdg-what-we-do>
		</md-tab>
		<md-tab label="Organizers">
			<gdg-organizers></gdg-organizers>
		</md-tab>
		<md-tab label="Photos">
			<gdg-photos></gdg-photos>
		</md-tab>
		<md-tab label="Code of Conduct">
			<gdg-code-of-conduct></gdg-code-of-conduct>
		</md-tab>
	</md-tab-group>
</gdg-navbar>